%ribbon{
    padding: 4px 20px;
    background: #fad981;
    transform: rotate(-0deg);
    top: 14px;
    left: 15px;
    font-size: 12px;
    color:$mainColor;
    border-bottom: 1px solid #DDD;
    box-shadow: 0px 2px 5px #c1c1c1;
    border-radius: 25px;
}



.events-page{
    
    .event-tags{
        .tag{
            transition: .2s;
            font-size: 12px;
            padding: 4px 11px;
            border-radius: 7px;
            margin-bottom: 7px;
        }
        $count: 1;
        @each $key,$val in $colors {
            a:nth-of-type(#{$count}) .tag{
                color:$key;
                &:hover{
                    background-color: $val;
                }
                
            }
            
            $count: $count + 1;
        }
    }

    // general rules
    .indicator{
        color:$mainColor;
        position: relative;
        margin-top: 30px;
        margin-bottom: 50px;
        &:before{
            content: '';
            position: absolute;
            background-color: $mainColor;
            left: -25px;
            top: 0;
            width: 7px;
            height: 100%;
        }
    }
    .event-location-date{
        color:$mainColor;
        font-size: 13px;
        span{
            color:rgb(133, 133, 133)
        }
    }
    
    // filter section
    .filters{
        background: #e6e6e6;
        padding: 10px 0px;
        select{
            border-radius: 58px;
            color: #737272;
            border:none
        }
        .custom-select{

        }
        .btn{
            border-radius: 60px !important;
            height: 100%;
        }
    }


    // upcoming section
    #home-page{
        background:url("../../layout/imgs/0.jpg") no-repeat;
        background-size: cover;
        .overlay:first-child{
            background: linear-gradient(to top, #fafafa 25%, rgba(250,250,250,0.6) 100%);
        }
        .event{
            box-shadow: none;
            background-color:#FFF;
            .ribbon{
                @extend %ribbon
            }
            .event-image{
                height: 240px;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            
        }
        
    }
    
    // all past events section
    .all-past-events{
        background-color: #FFF;
        .indicator{
            color:rgb(34, 180, 248);
            margin-top: 10px;
            margin-bottom: 30px;
            &:before{
                background-color: rgb(34, 180, 248);
            }
        }
        .past-event{
            .event-image{
                overflow: hidden;
                height: 240px;
                box-shadow: 2px 9px 35px #E6E6E6;
                border-radius: $smallBorder;
                transition: .5s;
                &:hover{
                    box-shadow: 3px 11px 24px #D1D1D1;
                    img{
                        transform: scale(1.1);
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .5s;
                }
                .ribbon{
                    @extend %ribbon
                }
            }
            
        }
    }



}