.sposnsors-about-page .about-current-page-template-container{
    .sponsors{
        .sponsor{
            display: flex;
            align-items: center;
            img{
                width: 160px;
                margin-right: 10px;
                margin-bottom: 15px;
            }
        }
    }
}